<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <meta charset="UTF-8"/>
  <meta property="og:site_name" content="API for Arithmophiles" />
  <meta property="og:description" content="Allow number-related inquiries, primarily of interest to geeks, using just a URL." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://api.arithmophile.com" />
  <meta property="og:image" content="http://api.arithmophile.com/templates/images/aa.jpg" />
  <meta property="og:title" content="Avocational Arithmophiles API" />
  <meta property="fb:admins" content="1302340466" />
  <title>API for Avocational Arithmophiles</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
  <script type="text/javascript" src="/jstools/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap-collapse.js"></script>
  <style type="text/css">
    body { margin-top:20px; }
    h1 { text-shadow:1px 1px 2px gray; }
    .api-data td:first-child:not(:last-child) { font-family:courier new; }
    .header-image {
        height:100px;
        width:100px;
        border-radius:5px;
        box-shadow:2px 2px 5px black;
        float:right;
    } 
    .page-header {
        border:2px solid #9d261d;
        border-radius:5px;
        padding:20px;
    }
    th { background:#ccc; }
    .usage:before {
        content: 'Use: ';
        font-weight:bold;
    }
    .desc:before {
        content: 'Description: ';
        font-weight:bold;
    }
    div.examples {
        border-bottom:1px solid #3a87ad;
        margin-bottom:20px;
    }
    div.examples:last-child {
        border-bottom:none;
        margin-bottom:0;
    }
  </style>
</head>
<body>

<div id="fb-root"></div>
<script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=349389302140";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="container">
  <div class="page-header">
    <img class="header-image" src="/templates/images/aa.jpg" alt="Avocational Arithmophiles"/>
    <h1>Arithmophile API</h1>
    <p>An API for number-loving geeks</p>
  <br style="margin-bottom:20px; clear:both"/>
  </div>

  <div class="row">
    <div class="span9">

      <div id="api-functions" class="accordion">
        <!-- Decimal Calculator group -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#fn-dc" class="accordion-toggle" data-parent="#api-functions" data-toggle="collapse">Decimal Calculator</a>
          </div>
          <div id="fn-dc" class="accordion-body collapse in">
            <div class="accordion-inner">
              <p class="usage">http://api.arithmophile.com/dc/[denominator](/[numerator])</p>
              <p class="desc">Specify denominator and optional numerator</p>
              <table class="api-data table table-striped">
                <tr>
                  <td colspan="2">Sequential array of decimal data for each fraction having the specified [denominator].  If the optional [numerator] is specified, the array will contain a single element.  Each element in the array contains:</td>
                </tr><tr>
                  <td>fraction</td>
                  <td>The current fraction, written out as "[numerator] / [denominator]".  If the fraction can be simplified, the simplified form is also provided.</td>
                </tr><tr>
                  <td>decimal</td>
                  <td>The decimal expansion of the fraction.</td>
                </tr><tr>
                  <td>length</td>
                  <td>The length of the decimal expansion.</td>
                </tr><tr>
                  <td>repeating</td>
                  <td>The number of digits in the decimal expansion that repeat, if any.</td>
                </tr>
              </table>
              <div class="examples">
                <span class="label label-info">Examples</span>
                <ul>
                  <li><a href="/dc/7">http://api.arithmophile.com/dc/7</a> - <span class="explanation">Returns decimals having a denominator of 7.</span></li>
                  <li><a href="/dc/49/5">http://api.arithmophile.com/dc/49/5</a> - <span class="explanation">Returns decimal for fraction 5/49.</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Triangular Numbers group -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" href="#fn-tri" data-parent="#api-functions" data-toggle="collapse">Triangular Numbers</a>
          </div>
          <div id="fn-tri" class="accordion-body collapse">
            <div class="accordion-inner">
              <p class="usage">http://api.arithmophile.com/tri/upto/[nth]</p>
              <p class="desc">List the triangular numbers, up to the nth.  (e.g., If nth is 3, list includes 1, 3, 6.)</p>
              <table class="api-data table table-striped">
                <tr>
                  <td colspan="2">Associative array of triangular numbers, with each key being the ordinal position of the triangular number.</td>
                </tr><tr>
                  <td>[n]</td>
                  <td>The nth triangular number</td>
                </tr>
              </table>
              <div class="examples">
                <span class="label label-info">Examples</span>
                <ul>
                  <li><a href="/tri/upto/5">http://api.arithmophile.com/tri/upto/5</a> - <span class="explanation">Returns triangular numbers 1, 3, 6, 10, 15.</span></li>
                </ul>
              </div>

              <p class="usage">http://api.arithmophile.com/tri/[from_nth]/[to_nth]</p>
              <p class="desc">List the triangular numbers within the specified range.</p>
              <table class="api-data table table-striped">
                <tr>
                  <td colspan="2">Associative array of triangular numbers, with each key being the ordinal position of the triangular number.</td>
                </tr><tr>
                  <td>[n]</td>
                  <td>The nth triangular number</td>
                </tr>
              </table>
              <div class="examples">
                <span class="label label-info">Examples</span>
                <ul>
                  <li><a href="/tri/3/5">http://api.arithmophile.com/tri/3/5</a> - <span class="explanation">Returns triangular numbers 6, 10, 15.</span></li>
                </ul>
              </div>

              <p class="usage">http://api.arithmophile.com/tri/test/[n]</p>
              <p class="desc">Check the specified number to determine whether it is triangular.</p>
              <table class="api-data table table-striped">
                <tr>
                  <td>number</td>
                  <td>The number being tested for triangularity.</td>
                </tr><tr>
                  <td>is_triangular</td>
                  <td>"Yes" or "No", depending on whether [n] is triangular or not.</td>
                </tr><tr>
                  <td>nth_triangular_number</td>
                  <td>The ordinal position in the series of triangular numbers.  (Provided only if [n] is a triangular number.)</td>
                </tr>
              </table>
              <div class="examples">
                <span class="label label-info">Examples</span>
                <ul>
                  <li><a href="/tri/test/10">http://api.arithmophile.com/tri/test/10</a> <span class="explanation"></span></li>
                  <li><a href="/tri/test/12">http://api.arithmophile.com/tri/test/12</a> <span class="explanation"></span></li>
                </ul>
              </div>

            </div>
          </div>
        </div>

        <!-- Golden Ratio group -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" href="#fn-phi" data-parent="#api-functions" data-toggle="collapse">Golden Ratio</a>
          </div>
          <div id="fn-phi" class="accordion-body collapse">
            <div class="accordion-inner">
              <p class="usage">http://api.arithmophile.com/phi/[n]</p>
              <p class="desc">Returns the number phi, to the specified number of places after the decimal.</p>
              <table class="api-data table table-striped">
                <tr>
                  <td>digits</td>
                  <td>The number of phi digits returned.</td>
                </tr><tr>
                  <td>phi_digits</td>
                  <td>The first [n] digits to the right of the decimal of phi.  These are grouped in space-delimited clusters of 10 digits each.</td>
                </tr>
              </table>
              <div class="examples">
                <span class="label label-info">Examples</span>
                <ul>
                  <li><a href="/phi/100">http://api.arithmophile.com/phi/100</a> <span class="explanation">Returns phi to 100 decimal places.</span></li>
                </ul>
              </div>

              <p class="usage">http://api.arithmophile.com/phi/powers(/[maximum power])</p>
              <p class="desc">Returns the powers of phi, up to the indicated maximum.</p>
              <table class="api-data table table-striped">
                <tr>
                  <td colspan="2">Sequential array, each row of which contains:</td>
                </tr><tr>
                  <td>power</td>
                  <td>Power of phi for current row</td>
                </tr><tr>
                  <td>phi_num</td>
                  <td>Value of phi to [power], expressed as a fraction, with denominator of 2.  (This is by design, even though it means that, for powers divisible by 3, the fraction could be further simplified.)</td>
                </tr><tr>
                  <td>real_value</td>
                  <td>Value of phi to [power], expressed as a real number approximation.</td>
                </tr><tr>
                  <td>sqrt_5</td>
                  <td>The number multiplied by the square root of 5 in this power of phi, and with a denominator of 2.</td>
                </tr><tr>
                  <td>whole</td>
                  <td>The integer portion of this power of phi, given a denominator of 2.</td>
                </tr><tr>
                  <td>denom</td>
                  <td>The denominator of this power of phi.  Currently, this is always 2.</td>
                </tr>
              </table>
              <div class="examples">
                <span class="label label-info">Examples</span>
                <ul>
                  <li><a href="/phi/powers/5">http://api.arithmophile.com/phi/powers/5</a> <span class="explanation">Returns the powers of phi, up to phi^5.</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Prime Numbers group -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" href="#fn-prime" data-parent="#api-functions" data-toggle="collapse">Prime Numbers</a>
          </div>
          <div id="fn-prime" class="accordion-body collapse">
            <div class="accordion-inner">
              <p class="usage">http://api.arithmophile.com/p/upto/[maximum]</p>
              <p class="desc">Returns a list of the prime numbers less than or equal to specified maximum.</p>
              <table class="api-data table table-striped">
                <tr>
                  <td>primes_listed</td>
                  <td>How many prime numbers there are between 1 and [maximum]</td>
                </tr><tr>
                  <td>prime_numbers</td>
                  <td>Associative array containing the prime numbers from 1 to [maximum].  Key is the ordinal position of the prime number.</td>
                </tr>
              </table>
              <div class="examples">
                <span class="label label-info">Examples</span>
                <ul>
                  <li><a href="/p/upto/100">http://api.arithmophile.com/p/upto/100</a> <span class="explanation">Returns the prime numbers less than or equal to 100.</span></li>
                </ul>
              </div>

              <p class="usage">http://api.arithmophile.com/p/[a]/[b]</p>
              <p class="desc">Returns a list of the prime numbers between the specified integers.</p>
              <table class="api-data table table-striped">
                <tr>
                  <td>primes_listed</td>
                  <td>How many prime numbers there are between [a] and [b]</td>
                </tr><tr>
                  <td>prime_numbers</td>
                  <td>Associative array containing the prime numbers from [a] to [b].  Key is the absolute ordinal position of the prime number; e.g., the key for 101 would always be 26, since 101 is the 26th prime number.</td>
                </tr>
              </table>
              <div class="examples">
                <span class="label label-info">Examples</span>
                <ul>
                  <li><a href="/p/10/20">http://api.arithmophile.com/p/10/20</a> <span class="explanation">Returns the prime numbers between 10 an 20, which are 11, 13, 17, 19.</span></li>
                </ul>
              </div>

              <p class="usage">http://api.arithmophile.com/p/[number]</p>
              <p class="desc">Indicate whether the number is prime.  Return its factors if composite.</p>
              <table class="api-data table table-striped">
                <tr>
                  <td>number</td>
                  <td>The number that was tested for primeness.</td>
                </tr><tr>
                  <td>prime_factors</td>
                  <td>Sequential array containing the unique prime factors of [number].</td>
                </tr>
              </table>
              <div class="examples">
                <span class="label label-info">Examples</span>
                <ul>
                  <li><a href="/p/10">http://api.arithmophile.com/p/10</a> <span class="explanation">Returns 2 and 5 as the prime factors of 10.</span></li>
                  <li><a href="/p/5">http://api.arithmophile.com/p/5</a> <span class="explanation">Indicates that 5 is a prime number.</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="span3">
      <p>A playful project by <a href="http://www.twitter.com/retorick">retorick</a>.  Built using the <a href="http://www.slimframework.com">Slim micro-framework</a>, the <a href="http://twig.sensiolabs.org/">TwigView</a> templating engine, and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>

      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://api.arithmophile.com" data-text="API for Avocational Arithmophiles" data-via="retorick">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<fb:like href="http://api.arithmophile.com" send="true" width="200" show_faces="false"></fb:like>
      <p>Code at <a href="https://github.com/arithmophile/number-functions-api">https://github.com/arithmophile/number-functions-api</a></p>

    </div>

  </div>
</div>
</body>
</html>

