<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
  <script type="text/javascript" src="/jstools/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <style type="text/css">
    body { margin-top:40px; }
    h1 { text-align:center; margin-bottom:20px; }
  </style>
</head>
<body>
<div class="container">
<h1>{{ title }}</h1>

{% block content %}{% endblock %}

</div>
</body>
</html>


